.watch {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.watch__container {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.watch__item {
  text-align: left;
}

.input-row {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}