.clock {
  width: 180px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.clock__close {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
}

.clock__wrapper {
  width: 200px;
  height: 172px;
  margin: 0 auto;
  position: relative;
  border: 4px solid #000;
  border-radius: 50%;
  background: url('../../assets/clock.png') center / cover;
}

.clock__wrapper::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background-color: #000;
  border-radius: 6px;
}

.clock__hour {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 -4px -25%;
  padding: 4px 0 4px 25%;
  background-color: rgb(156, 114, 114);
  transform-origin: 100% 50%;
  border-radius: 3px 0 0 3px;
}

.clock__minute {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: -40% 3px 0 0;
  padding: 40% 3px 0;
  background-color: rgb(127, 127, 163);
  transform-origin: 50% 100%;
  border-radius: 3px 3px 0 0;
}

.clock__second {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: -40% 1px 0 0;
  padding: 40% 1px 0;
  background-color: #000;
  transform-origin: 50% 100%;
}